[global]

{{ if .global_fsid -}}
fsid = {{.global_fsid}}
{{ end -}}

{{ if .global_mon_initial_members -}}
mon_initial_members = {{.global_mon_initial_members}}
{{ end -}}

{{ if .global_mon_host -}}
mon_host = {{.global_mon_host}}
{{ end -}}

{{ if .global_auth_cluster_required -}}
auth_cluster_required = {{.global_auth_cluster_required}}
{{ end -}}

{{ if .global_auth_service_required -}}
auth_service_required = {{.global_auth_service_required}}
{{ end -}}

{{ if .global_auth_client_required -}}
auth_client_required = {{.global_auth_client_required}}
{{ end -}}

{{ if .global_osd_pool_default_size }}
# Write an object n times.
osd pool default size = {{.global_osd_pool_default_size}}
{{ end -}}

{{ if .global_public_network }}
#All clusters have a front-side public network.
#If you have two NICs, you can configure a back side cluster
#network for OSD object replication, heart beats, backfilling,
#recovery, etc.
public network = {{.global_public_network}}
{{ end }}


[client]
{{ if .client_rbd_default_features -}}
rbd_default_features = {{.client_rbd_default_features}}
{{ end -}}

{{ if .global_auth_cluster_required }}{{ if (eq .global_auth_cluster_required "cephx") -}}
keyring = /etc/ceph/ceph.keyring
{{ end }}{{ end }}


[mds]
{{ if .mds_session_timeout -}}
mds_session_timeout = {{.mds_session_timeout}}
{{ end -}}

{{ if .mds_session_autoclose -}}
mds_session_autoclose = {{.mds_session_autoclose}}
{{ end -}}
